#root {
  background: url('/images/bg-mobile-light.jpg') 0 0 no-repeat;
  background-size: 100% 200px;
}

.dark #root {
  background-image: url('/images/bg-mobile-dark.jpg');
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #494c6b;
  background: #fafafa;
}

.dark body {
  color: #c8cbe7;
  background: #171823;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #root {
    background: url('/images/bg-desktop-light.jpg') 0 0 no-repeat;
    background-size: 100% 300px;
  }

  .dark #root {
    background-image: url('/images/bg-desktop-dark.jpg');
  }

  body {
    font-size: 18px;
  }
}
